body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
  
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.game-board {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
.status {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}
  
.board-row {
    display: flex;
}

.square {
    background-color: #444;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.square:hover {
    background-color: #555;
}

.game-info {
    margin-top: 20px;
}

.game-info ol {
    padding-left: 20px;
}

.game-info button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-info button:hover {
    background-color: #555;
}
